{% extends "lire/page.html" %}
{% block subtitle %}{{ _('Relationships') }}{% endblock %}
{% block static_styles %}
<link rel="stylesheet" type="text/css" href="../css/bootstrap-tooltip.css" />
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="../css/demo.css" />
<link rel="stylesheet" type="text/css" href="../css/jsplumb.css" />
<link rel="stylesheet" type="text/css" href="../css/font-awesome.css" />
{% endblock %}
{% block static_scripts %}
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
<script type="text/javascript" src="../js/jquery-validate.js"></script>
<script type="text/javascript" src="../js/jquery-ui-1.9.2.min.js"></script>
<script type="text/javascript" src="../js/jquery.ui.touch-punch-0.2.2.min.js"></script>
<script type="text/javascript" src="../js/jsPlumb-1.7.1-min.js"></script>
{% endblock %}
{% block lire_scripts %}

//reinitialize tooltip for datasets
$("body").tooltip({ selector: '[data-toggle=tooltip]' });
			
//add popover and tooltip for each dataset
{% for key, value in c.datasets.items() %}
	$("#{{key}}_td").popover({
		title: '{% for value1 in value.tags %} <h4 style="display: inline-block;"> <span class="label label-default fa fa-tags"><a href="{{c.tagURL}}?tags={{value1}}" target="_blank" style="padding-left:5px;">{{ value1 }}</a></span> </h4> <nobr> {% endfor %}',
		html: true,
		content: '{{value.notes}}',
		placement: 'top',
		template: '<div style="width:276px;" class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>',
	});
	$("#{{key}}_fl").popover({
		title: '{% for value2 in value.extrasLinks %} <span class="label label-default fa fa-link"> <a href="{{c.tagURL}}/{{value2}}" target="_blank" style="text-decoration: none;"> {{ value2 }} </a> </span><p> </p>{% endfor %}',
		html: true,
		content: '{% for value3 in value.formats %} <h5 style="display: inline-block;"><span {% if value3|lower in c.ldf %} style="background-color:#2DEB60;" {% endif %}class="label label-default fa fa-file"> <a href="{{c.tagURL}}?res_format={{value3}}" target="_blank" style="padding-left:5px;">{{ value3 }}</a></span></h5> {% endfor %}',
		placement: 'top',
		template: '<div style="width:276px;" class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>',
	});			
	$("#{{key}}_rel").popover({
		title: 'Relationships',
		html: true,
		content: '{% for value1 in value.relationships %} {{value1.type}} <i class="fa fa-chevron-right"></i> {{value1.object}} <br> {% endfor %}',
		placement: 'top',
		template: '<div style="width:276px; font-size:12px; line-height:1.5em;" class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>',	
	});
	$("#{{key}}_sem").popover({
		title: '',
		html: true,
		content: '<h5 style="display: inline-block;"><span style="background-color:#2DEB60;" class="label label-default fa fa-file"> <a href="{{c.tagURL}}/{{value.title}}.rdf" target="_blank" style="padding-left:5px;">RDF</a></span></h5> <h5 style="display: inline-block;"><span style="background-color:#2DEB60;" class="label label-default fa fa-file"> <a href="{{c.tagURL}}/{{value.title}}.n3" target="_blank" style="padding-left:5px;">N3</a></span></h5>',
		placement: 'top',
		template: '<div style="width:276px;" class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>',
	});			
	$("#{{key}}_td").tooltip({
		placement: 'bottom',
		title: 'tags and description'
	});	
	$("#{{key}}_fl").tooltip({
		placement: 'bottom',
		title: 'format and extras:links'
	});						
	$("#{{key}}_rel").tooltip({
		placement: 'bottom',
		title:"relationships"
	});						
	$("#{{key}}_sem").tooltip({
		title: 'Get semantic description of dataset along with relationships',
		html: true,
		placement: 'bottom',
		template: '<div style="width:200px; font-size:14px; font-family: sans-serif;" class="tooltip" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>',
	});
	$("#{{key}}_detach").tooltip({
		placement: 'bottom',
	});	
{% endfor %}	
//set white background for all datasets
$(".window").addClass("semantic-white");

$("#typeDiv").hide();	
//function for adding suggested type of relation into pending actions table and in table for similarity
$(".suggestedValue").click(function() {
	var temp = $(".suggestedValue").text();
	if(temp != 'N.A.')
	{
		$("#conns tr:last td:nth-child(2)").html(temp);
                $("#conns tr:last td:nth-child(5)").html('created by LIRE');
	}	
}).tooltip({
	title: 'Click on suggested type to <br> apply it',
	html: true,
	placement: 'top',
	template: '<div class="tooltip" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner" style="  font-size: 14px;font-weight: 400;"></div></div>',	
});				
$('.relationship').click(function() {
  rel = $(this).attr("value");
  $(this).css("background","lime").siblings().css("background","white");
});	
$('.relationship').tooltip({ 
	placement: 'top',
	title: 'choose type of relationship'
});		
connections = [];
$(window).load(function(){
	$( ".hide-menu-form" ).slideToggle("medium");
});		
//commit actions to CKAN
$("#commit").click(function() {
	var table = document.getElementById("conns");
	var tableSim = document.getElementById("similarityTest");
	var rowCount = table.rows.length;
	var rowCountSim = tableSim.rows.length;
	var row = '';

	//in this loop we take rows from pending actions table and execute one CKAN action for each
	//do not take first row, because it is table heading
	for (var i = 1; i < rowCount; i++) 
	{
		var subject = table.rows[i].cells[0].innerHTML;
		var type = table.rows[i].cells[1].innerHTML;				
		var object = table.rows[i].cells[2].innerHTML;
		var action = table.rows[i].cells[3].innerHTML;
                var comment = table.rows[i].cells[4].innerHTML;
				
		//AJAX call for each row
	        $.post('storeRelationships',{'action':action,'subject':subject,'type':type,'object':object,'comment':comment},
		  function(data) {
		 });				
	}
	//remove rows from pending actions table after executing appropriate CKAN action
	for (var i = 1; i < rowCount; i++)
	{
		table.deleteRow(-1);
		rowCount--;
		i--;
	}
	//remove rows from table with similarity test results
	for (var i = 1; i < rowCountSim; i++)
	{
		tableSim.deleteRow(-1);
		rowCountSim--;
		i--;
	}			
	//set pending actions to zero
	document.getElementById("pending").innerHTML = 0;	
});	
(function() {
	//add connection between dataset to pending actions table
	insertRow = function(var1, var2, var3, var4, var5) {
		var table = document.getElementById("conns");
		var row = table.insertRow(-1);
		var cell1 = row.insertCell(0);
		var cell2 = row.insertCell(1);
		var cell3 = row.insertCell(2);	
		var cell4 = row.insertCell(3);
                var cell5 = row.insertCell(4);	
		cell1.innerHTML = var1;
		cell2.innerHTML = var2;
		cell3.innerHTML = var3;
		cell4.innerHTML = var4;
                if (typeof var5 != 'undefined')
                {
                  cell5.innerHTML = var5;
                }
	        else
                {
		  cell5.innerHTML = '...'
                }
	};
	var listDiv = document.getElementById("list");
	showConnectionInfo = function() {
		//listDiv.innerHTML = s;
		listDiv.style.display = "block";
	};	
	hideConnectionInfo = function() {
		listDiv.style.display = "none";
	};
	jsPlumb.ready(function() {
		var instance = jsPlumb.getInstance({
			DragOptions : { cursor: 'pointer', zIndex:2000 },
			PaintStyle : { strokeStyle:'#666' },
       			EndpointHoverStyle: { fillStyle:"orange" },
       			HoverPaintStyle: { strokeStyle:"orange" },
			EndpointStyle : { width:20, height:16, strokeStyle:'#666' },
			Endpoint : "Rectangle",
			Anchors : ["TopCenter", "TopCenter"],
			Container:"drag-drop-demo"
		});		
		// suspend drawing and initialise.
		instance.doWhileSuspended(function() {										
			
		// bind to connection/connectionDetached events, and update the list of connections on screen.
		instance.bind("connection", function(info, originalEvent) {

		if ((typeof rel === "undefined" ) && (info.connection.scope == "yellow"))
		{
			alert("You didn't select the type of connection. The page will be refreshed.");
			instance.detach(info.connection,{
				forceDetach: true,
				isSource:true
			});
			location.reload();
		}
		else
		{
			//add connections to table
			var con=info.connection;
			var table = document.getElementById("conns");
				
			connections.push(con);
			con.scope = rel;
			insertRow(con.sourceId, rel, con.targetId, "package_relationship_create", 'created by user');
			showConnectionInfo();
			document.getElementById("pending").innerHTML = table.rows.length - 1;
			//conduct similiraty test between two newly connected datasets
		 	$.post('examineDatasets',{'subject':con.sourceId,'object':con.targetId},
				function(data) {
					$("#similarityTest tr:last").after(
					'<tr> <td rowspan="21" style="text-align:center;vertical-align:middle">' + con.sourceId + '<br> & <br>' + con.targetId + 						'</td> </tr> <tr> <td> similarTags </td> <td>'+ data.tagCount +
					'</td> </tr> <tr> <td> open </td> <td>' + data.sOpen + ' <=> ' + data.oOpen +
					'</td> </tr> <tr> <td> subject dataset tags in object organization </td> <td>' + data.tagSOO +
					'%</td> </tr> <tr> <td> object dataset tags in subject organization </td> <td>' + data.tagOSO +
					'%</td> </tr> <tr> <td> subject dataset tags in object group </td> <td>' + data.tagSOG +
					'%</td> </tr> <tr> <td> object dataset tags in subject group </td> <td>' + data.tagOSG +
					'%</td> </tr> <tr> <td> subject formats in object dataset </td> <td>' + data.formatsSO +
					'%</td> </tr> <tr> <td> object formats in subject dataset </td> <td>' + data.formatsOS +
					'%</td> </tr> <tr> <td> subject 5 star </td> <td>' + data.fsS +
					'</td> </tr> <tr> <td> object 5 star </td> <td>' + data.fsO +
					'</td> </tr> <tr> <td> linkedFormats </td> <td>' + data.linkedFormat +
					'</td> </tr> <tr> <td> machine processable formats </td> <td>' + data.machineProcessable +
					'</td> </tr> <tr> <td> subject tracking </td> <td> total: ' + data.trackingSD.total + ', recent: ' + data.trackingSD.recent +
			        	'</td> </tr> <tr> <td> object tracking </td> <td> total: ' + data.trackingOD.total + ', recent: ' + data.trackingOD.recent +
					'</td> </tr> <tr> <td> subject resources tracking </td> <td> total: ' + data.trackingSResources.total + ', recent: ' + data.trackingSResources.recent +
					'</td> </tr> <tr> <td> object resources tracking </td> <td> total: ' + data.trackingOResources.total + ', recent: ' + data.trackingOResources.recent +
					'</td> </tr> <tr> <td> older dataset </td> <td>' + data.dateTimeCreation +
					'</td> </tr> <tr> <td> extras:links </td> <td>' + data.extrasLink +
					'</td> </tr> <tr> <td> sameOrganization </td> <td>' + data.organization +
					'</td> </tr> <tr> <td> sameGroup </td> <td>' + data.group +
					'</td> </tr> <tr> <td colspan="3" style="text-align:center;  padding:15px; "> <span style="padding: 9px 12px; font-size:13px; margin-right:10px;" class="label label-info">Choosen type: <span class="badge" id="choosenValue"> </span> </span> <span class="label label-success" style="padding: 9px 12px; font-size:13px;">Suggested type: <span class="badge" id="suggestedValue"> </span></span> </td> </tr>'
					);
					$("#similarityTest tr:last #choosenValue").html(con.scope);
					$("#similarityTest tr:last #suggestedValue").html(data.suggestedType);
					
					$(".choosenValue").html(con.scope);
					$(".suggestedValue").html(data.suggestedType);
					$("#typeDiv").show();
					if(data.suggestedType == "N.A."){
						$(".suggestedValue").tooltip('disable');
					}
					else
					{
						$(".suggestedValue").tooltip('enable');
			    		}
				});		
					
				//remove double connections
				//var con=info.connection;
				var arr=instance.select({source:con.sourceId,target:con.targetId,scope:con.scope});
				if(arr.length>1){
					instance.detach(con);
					rowCount = table.rows.length;
					table.deleteRow(rowCount - 1);
					table.deleteRow(rowCount - 2);
					document.getElementById("pending").innerHTML = rowCount - 3;
					
					}
				}
			});	

			instance.bind("connectionDetached", function(info, originalEvent) {
				var con = info.connection;
				var table = document.getElementById("conns");
				var rowCount = table.rows.length;
			
				//block row insert with yellow scope from jsPlumb library 
				if (con.scope != "yellow")
				{
					insertRow(con.sourceId, con.scope, con.targetId, "package_relationship_delete");
				}
				//show connections
				showConnectionInfo();
					
				//update number of pending actions
				document.getElementById("pending").innerHTML = table.rows.length - 1	;
				
				//if there are no pending actions hide table
				if (connections.length == 0) hideConnectionInfo();
			
			});

			instance.bind("click", function(component, originalEvent) {
				//delete relationship by clicking on it
				instance.detach(component);				
       			});
		
			// configure some drop options for use by all endpoints.
			var exampleDropOptions = {
				tolerance:"touch",
				hoverClass:"dropHover",
				activeClass:"dragActive"
			};
			// the third example uses a Dot of radius 17 as the endpoint marker, is both a source and target, and has scope
			// 'exampleConnection3'.  it uses a Straight connector, and the Anchor is created here (bottom left corner) and never
			// overriden, so it appears in the same place on every element.
			//
			// this example also demonstrates the beforeDetach interceptor, which allows you to intercept 
			// a connection detach and decide whether or not you wish to allow it to proceed.
			//			
			var example3Color = "rgba(229,219,61,0.5)";
			var exampleEndpoint3 = {
				endpoint:["Dot", {radius:17} ],
				anchor:"BottomLeft",
				paintStyle:{ fillStyle:example3Color, opacity:0.5 },
				isSource:true,
				scope:'yellow',
				connectorStyle:{
	           			strokeStyle:example3Color,
	            			lineWidth:4
	        		},
				connector : "Straight",
				isTarget:true,
				maxConnections: {{datasets|length - 1}},
				dropOptions : exampleDropOptions,
				beforeDetach:function(conn) { 
					return confirm("Detach connection?"); 
				},
				onMaxConnections:function(info) {
					alert("Cannot drop connection " + info.connection.id + " : maxConnections has been reached on Endpoint " + info.endpoint.id);
				}
			};

			// setup some DynamicAnchors for use with the blue endpoints			
			// and a function to set as the maxConnections callback.
			var anchors = [[1, 0.2, 1, 0], [0.8, 1, 0, 1], [0, 0.8, -1, 0], [0.2, 0, 0, -1] ],
				maxConnectionsCallback = function(info) {
					alert("Cannot drop connection " + info.connection.id + " : maxConnections has been reached on Endpoint " + info.endpoint.id);
				};
 			{% for key, value in c.datasets.items() %}
	
				var e{{key}} = instance.addEndpoint("{{ value.title }}", { anchor:[1, 0, 0, 0] }, exampleEndpoint3,{uuid:"{{key}}"});
				e{{key}}.bind("maxConnections", maxConnectionsCallback);
	
			{% endfor %}

			{% for value in c.eKey %}
				{% if value.type is defined %}
					instance.connect({ source:e{{value.subject}},target:e{{value.object}},scope:"{{value.type}}" });
				{% endif %}
			{% endfor %}

			// make .window divs draggable
			instance.draggable(jsPlumb.getSelector(".drag-drop-demo .window"));

			// add endpoint of type 3 using a selector. 
			//instance.addEndpoint(jsPlumb.getSelector(".drag-drop-demo .window"), exampleEndpoint2);
			
			var hideLinks = jsPlumb.getSelector(".drag-drop-demo .hide");
			instance.on(hideLinks, "click", function(e) {
				instance.toggleVisible(this.getAttribute("rel"));
				jsPlumbUtil.consume(e);
			});

			var detachLinks = jsPlumb.getSelector(".drag-drop-demo .detach");
			instance.on(detachLinks, "click", function(e) {
				instance.detachAllConnections(this.getAttribute("rel"));
				jsPlumbUtil.consume(e);
			});

			instance.on(document.getElementById("clear"), "click", function(e) { 
				instance.detachEveryConnection();
				showConnectionInfo("");
				jsPlumbUtil.consume(e);
			});
		});
		jsPlumb.fire("jsPlumbDemoLoaded", instance);			
	});	
})();		

{% endblock %}

{% block primary %}
  <div class="well row" style="background-color: #bfbfbb; opacity: 0.8; border-radius: 15px; padding: 10px;">
    <div class="col-md-4" style="padding: 6px 12px;">
      <p style="float: left; margin-bottom:0; width:115px;"> Pending actions: </p>	 
      <p id="pending" style="float: left; margin-bottom:0;"> 0 <p>
    </div>
    <div class="col-md-4" style="padding: 6px 12px;" id="typeDiv">
      <span class="label label-success " style="padding: 9px 12px; font-size:13px;">
        Suggested type: 
	<button type="button" class="btn btn-xs suggestedValue">
	</button>
      </span>
    </div>				
    <div class="col-md-4" style="text-align:right; float:right; ">
      <button class="btn" data-toggle="modal" data-target="#infoModal"> INFO </button>
      <button class="btn" data-toggle="modal" data-target="#showModal"> SHOW </button>
      <button class="btn btn-primary" id="commit"> COMMIT </button>			
    </div>
  </div> 
  <center>
  <div class="row well well-sm" style="width:77%;">
    <center>
      <button type="button" class="btn btn-default relationship" value="parent_of">parent_of</button>
      <button type="button" class="btn btn-default relationship" value="child_of">child_of</button>
      <button type="button" class="btn btn-default relationship" value="links_to">links_to</button>
      <button type="button" class="btn btn-default relationship" value="links_from">links_from</button>  
      <button type="button" class="btn btn-default relationship" value="has_derivation">has_derivation</button>
      <button type="button" class="btn btn-default relationship" value="derives_from">derives_from</button>  			
      <button type="button" class="btn btn-default relationship" value="depends_on">depends_on</button>
      <button type="button" class="btn btn-default relationship" value="dependency_of">dependency_of</button>  			
    </center>
  </div>
  </center>
  <div id="main">
    <!-- demo -->
    <div id="drag-drop-demo" class="demo drag-drop-demo">	
      {% for key, value in c.datasets.items() %}
        <div class="window" id="{{ value.title }}" style="top:{{ h.randomNum(255) }}px; left: {{ h.randomNum(100) }}%">
	  <a href="{{ value.url }}" target="_blank" style="text-decoration: none;"> {{ value.title }} </a>				
	  <br>
	  <br/><a href="#" class="cmdLink hide" rel="{{ value.title }}"> toggle connections </a>
	  <div style="align:center;">							
 	    <a href="#" class="cmdLink detach" rel="{{ value.title }}" style="margin-right: 3px;">
              <span class="fa fa-chain-broken" id="{{key}}_detach" title="detach all" style="font-size: 15px;"> </span>
            </a>
	    <a> <span id="{{key}}_td" class="fa fa-tags" aria-hidden="true" style="font-size: 15px;"></span> </a> &nbsp;
            <a> <span id="{{key}}_fl" class="fa fa-file" aria-hidden="true" style="font-size: 15px;"></span> </a> &nbsp;
            <a> <span id="{{key}}_rel" class="fa fa-list" aria-hidden="true"  style="font-size: 15px;"></span> </a>
	    {% if value.relationships|length > 0 %}
	      <img id="{{key}}_sem" class="semantic-hover" style="margin:0 0 5px 5px;" height="16" width="16" src="http://www.w3.org/RDF/icons/rdf_flyer.24" alt="RDF"/>
	    {% endif %}
	  </div>					
	</div>
      {% endfor %}
    </div>
    <!-- /demo -->
  </div>
  <div class="modal-bootstrap fade" id="showModal" tabindex="-1" role="dialog" aria-labelledby="showModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	  <h4 class="modal-title" id="showModalLabel">PENDING ACTIONS</h4>
	</div>
	<div class="modal-body">
	  <div id="list">
	    <span><strong>Connections</strong></span><br/><br/>
	    <table id='conns'>
	      <tr><th style='text-align:center;'>Subject dataset</th><th style='text-align:center;'>Type</th><th style='text-align:center;'>Object dataset</th><th style='text-align:center;'>Action</th><th style='text-align:center;'>Comment</th></tr>				
	    </table>			
	  </div>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
      </div>
    </div>
  </div>
  <div class="modal-bootstrap fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	  <h4 class="modal-title" id="infoModalLabel">SIMILARITY TEST RESULTS</h4>
	</div>
	<div class="modal-body">
	  <table id='similarityTest' class="table table-bordered">
	    <tr><th style='text-align:center; width:50%;'>Datasets</th><th style='text-align:center; width:25%;'>Measure</th><th style='text-align:center; width:25%;'>Value</th></tr>				
	  </table>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
      </div>
    </div>
  </div>		
{% endblock %}









